@import url(org_template.css);
.room_rate_input {
  background: rgba(255,255,255,.8);
  border: none;
  padding: 0 10px;
  box-sizing: padding-box;
  font-weight: bold;
}

.room-filter {
  font-size: 12px;
  padding: 2px 0;
  margin-top:-2px;
  margin-bottom: 10px;
}

.room-filter select {
  border:1px solid rgb(200,200,200);
  padding:1px;
  max-width:80px;
  border-radius: 4px;
}


.b-booking-table td.open {
    position:relative;
}


.booking_table {
    position: relative;
    padding: 0px;
    background: #dae6ef;
}

    .booking_table .curtain {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.89);
    }

    
tr.houseuse {
    background-color: #f58248;
    color: #fff;
}

tr.blocked {
    color: #2b2b2b;
}


.booking_table .table tbody > tr > td {
    max-height: 23px;
    padding: 2px;
    text-align: center;
    max-width: 80px;
    overflow: hidden;
}

.room_status_vacant {
    color: green;
}

.room_status_occupied {
    color: red;
}

.room_status_houseuse {
    color: #fff;
}

.room_status_checkedout {
    color: #be48bf;
}


.table .tape {
    cursor: pointer;
    font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
    max-height: 21px;
    font-family: 'Open Sans';
    
    background-size: 11px 22px !important;
}

.tape.reserved {
    background: url("/images/tape-limit.png") right no-repeat #72c2ee;
    color: #fff;
}

.tape.checkedout {
    background: url("/images/tape-limit.png") right no-repeat #be48bf;
    color: rgba(255, 255, 255, 0.91);
}

.tape.due_out_room.empty_room {
    background:none !important;
    color: rgba(255, 255, 255, 0.91);
    text-indent:-999999px;
}

.tape.blocked {
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.91);
}

.tape.active,.tape.due_out_room.active {
    background: url("/images/tape-limit.png") right no-repeat rgb(99, 188, 224) !important;
    color: rgba(255, 255, 255, 0.91);
     text-indent:0;
    background-size:contain !important;
}

.tape.houseuse {
    background: #fe8549;
    color: #fff;
}

.booking-counter td {
    background: #ededed;
}



.tape.dirty {
    background: url("/images/tape-limit.png") right no-repeat #808080;
    color: rgba(255, 255, 255, 0.91);
}

.tape.checkedin {
    background: url("/images/tape-limit.png") right no-repeat #db6060;
    color: rgba(255, 255, 255, .9);
}

.tape.continuing {
    background-image: none !important;
}


.rooms-table.table.table-bordered td {
    border-left:1px solid rgb(222, 222, 222) !important;

}

.rooms-table.table.table-bordered td:last-child {
    border-right:1px solid rgb(222, 222, 222) !important;
}

.rooms-table.table.table-bordered th:last-child {
    border-right:1px solid rgb(222, 222, 222) !important;
}

.rooms-table.table.table-bordered th {
    border-top:1px solid rgb(222, 222, 222) !important;
    border-left:1px solid rgb(222, 222, 222) !important;
}


.room-table {
    width:100%;
}

.room-table td {
    padding:3px;
    font-size:12px;
    border-bottom:1px solid #ccc;
}


.status-list {
  padding: 0;
  list-style: none
}

.status-list li {
  width:13.85%;
  position: relative;
  font-size:11px;
  font-family:Lato,Roboto;
  float: left;
  color:#fff;
  padding: 10px 18px;
  box-sizing: padding-box;
  background: #b7b7b7;
  margin-right: 5px;
  border-radius:2px;
}

.status-list li:hover {
    opacity:1
}

.status-list .vc_status {
  background: #4dd386;
  color:rgba(255, 255, 255, 0.88)
}

.status-list .oc_status {
  background:#ea6759;
  color:rgba(255, 255, 255, 0.88)
}

.status-list .rs_status {
  background:#53a7e0;
  color:rgba(255, 255, 255, 0.88)
}

.status-list .co_status {
  background:#aa72c1;
  color:rgba(255, 255, 255, 0.88)
}

.status-list .hu_status {
  background: #f4ab36;
  color:rgba(255, 255, 255, 0.88)
}

.status-list .bl_status {
  background: #272727 !important;
  color:rgba(255, 255, 255, 0.88)
}

.status-list p {
  margin-bottom: 0px
}

.status-list li:before {
  content: ".";
  font-size: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,.25);
  left: 0;
  right: 0;
  height:10px;
text-indent: -99999px;
}


.status-list li > span {
    font-size:18px;
    margin-right:10px;
}
.status-list li:last-child{
  margin-right: 0;
}

.status-list li i.fa {
  position: absolute;
  right: 16px;
  top: 18px;
  opacity:.5;
  font-size:18px;
}

.rooms-table {
    background:#fff;
    margin-top:15px;
    font-size:8.7pt;
    font-family:Tahoma;
    font-synthesis:weight;
    font-weight:400;
    text-align:left;
}

.rooms-table .occupied {
    color:#e13232;
    cursor:pointer;
}




.rooms-table .reserved {
  color:#6daed9;
  cursor:pointer;
}

.rooms-table .checked.out {
  color:#9b59b6;
}

.rooms-table .house.use {
  color: #f39c12
}

.rooms-table .vacant {
  color: #089744;
}

.rooms-table .blocked{
  color: #000 !important;
  text-decoration:line-through
}

.rooms-table td  {
    font-feature-settings:"dlig";
    text-align:left !important;
    text-transform:capitalize;
    padding:1.5px 8px !important;
}

.table.rooms-table th {
    padding: 4px 7px !important;
background: linear-gradient(to top, rgb(218, 235, 255), rgb(227, 243, 254));
border:1px solid #afdddd  !important;
color: #686868
}

.rooms-table tr:hover td {
    background:#f6f6f6
}

.departure-widget span {
  border: 1px solid #efd4f5;
padding: 8px;
text-align: center;
display: block;
margin-bottom: 5px;
float: left;
margin-right: 3px;
color: #989898;
font-size: 11px;
width: 30.4%;
background: #fff;
overflow: hidden;
max-height: 50px;
box-sizing: padding-box;

}

.departure-widget span b {
    display:block;
    color:#4d4d4d;
    font-size:13px;
}


.room-status-table {
    display: block;
    background: #fff;
    margin-left: -10px;
    margin-right: -5px;
    font-size: 12px;
    border: 1px solid rgb(207, 220, 255);
    margin-bottom: 15px;
}


.room-status-table thead,.room-status-table tfoot {
  background: #dcefff;
  font-size: 10px;
  text-align: center;
  border-bottom:1px solid rgb(183, 225, 255)
}

.room-status-table tfoot {
    border-top:1px solid rgb(183, 225, 255)
}

.room-status-table td,.room-status-table th  {
  padding: 3px 5px;
  width:100%;
}

.room-status-table td {
    padding:3px 6px;
}

.room-status-table th {
    font-size:11px;
    text-align:center;

}


.rooms-table-wrapper {
    border: 1px solid rgb(206, 226, 233);
    height:156px;
}
.walkin-room-table {
    background: rgb(244, 251, 251) none repeat scroll 0% 0%;
color:#898989;
font-size:12px;
width:100%;
}

.walkin-room-table .selected_room td {
    background: #62aacc !important;
    color: #fff;
}

.walkin-room-table .selected_room td input {
    color:black
}
.walkin-room-table thead{
    font-size: 11px;
background: #fff;
text-align: left !important;
border-bottom: 1px solid #dedede;
}

.walkin-room-table th {
    padding:4px;
    text-align:left !important
}

.walkin-room-table tr:nth-child(even) td
{
    background:#fafeff;

}
.walkin-room-table td {
    border-color: rgb(206, 226, 233);
     padding:1px 3px;
}


.guest-info-dropdown {
  padding:14px 3px;
  width: 100%;
  margin-top:-5px;
}

.guest-info-dropdown > div {
    padding:0 13px;
}


.room-st {
    padding:3px;
}



.room-st.checked.out {
 border: 1px solid rgb(219, 201, 226);
border-radius: 4px;
background: rgb(239, 214, 252) none repeat scroll 0% 0%;
color: #9255ae
}

.room-st.occupied {
    color:#d33512;
    border:#f33b12;
    background:#ffdcd4
}

.room-st.reserved {
    color:#129ed3;
    border:#127ef3;
    background:#d4eeff
}



.charges-sm-table {
    background:rgba(255, 255, 255, 0.86);
    font-size:11px;
    margin-left:-6px;
    border-top:1px solid rgb(203, 242, 192) ;
    width:auto;
    display:block;
    max-width:none;
    margin-bottom:0 !important;
    border-bottom:none !important;
    margin-right:-6px;
}
.charges-sm-table  td {
    text-align:left;
    width:100%;
    color:#535353;
    padding:4px 19px !important
}

.charges-sm-table  td:empty {
    padding-top:12px !important;
    padding-bottom:6px !important;
}

.charges-sm-table  th {
  padding:4px 19px !important;
  border-bottom-width:1px !important;
  background:rgb(238, 248, 227);
  background: rgb(221, 252, 219);
}


.walkin-form-body {
    background:rgba(255, 255, 255, 0.8) !important;
    padding-bottom:55px !important
}

.room-view-form {
    background:#e6eeff
}


.room-sharer-form {
    padding: 20px;
    position: absolute;
    background: #fff;
    font-size:12px;
    display:none;
    margin-top:15px;
    box-shadow: 0 0 18px #aeaeae;
    border-radius: 12px;
}