
@import url(Roboto-font.css);
@media print {
     table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

	.header,
    .sidebar,
    .footer,
    .pos_box,
    .ualert,
    .dataTables_wrapper,
    .page_info
     {
	     display:none !important;
	}

    body > .print-area {
	     display:block !important;
	}

    .print-header,.print-footer {
        display:block !important
    }

    .print-area {
        display:block !important;
        visibility:visible;
        margin:0 !important;
        padding:0 !important;
        box-sizing:padding-box !important;
        width:100% !important;
    }

    .row{
        margin:0 !important
    }

    .print-area .table td , .print-area .table th{
        border-color:#000 !important;
        padding:0 !important;
        color:#000 !important;
        font-size:12px !important;
    }

    .report-filter {
        display:none
    }

    

	.bill_print {
	 display:block !important;
	 margin: auto;
	 color: #000;
	}

	.grid {
		width: 100%
	}

	.actionized td:last-of-type {
  		display:none;
	}

    .printable-body .print-area {
        display:block
    }

}


    .print-header,.print-footer {
        display:none
    }
.actionized td:last-of-type {
  background: #EDEDED;
}

 .btn {
 	border-radius: 0
 }

a,button,input {
	outline: none !important
}
.pos_logo {
	display: table;
padding: 8px 15px;
border-radius: 0px;
font-size: 16px;
background: #2c3e50;
margin-top:10px;
margin-bottom: 0px;
font-family: Oswald;
}

.notification_box {
    background: #ecf0f1;
    color: #000;
    width: 49.6%;
    text-align:center;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid rgb(225,225,225);
    border-bottom: 1px solid rgb(229,229,229);
}

.notification_box > span {
	padding: 10px;
	display: block;
	font-size: 13px;
}

.notification_box  > p {
	background: #D3D9DD;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}

.notification_box > span i {
    display:block;
}
.clock {
	font-size: 13px;
padding: 15px 5px;
margin-left: 15px;
color: #ccc;
}

.main-container {
   padding:0 15px;
   margin-top:80px !important;
}
.clock .time {
	    font-size: 16px;
    font-style: normal;
    border: 1px solid rgba(111, 116, 138, 0.69);
    padding: 3px 7px;
    margin-left: 5px;
    color: #fff
}

.login-btn {
	padding: 2px 10px;
border: none;
border-radius: 0;
font-size:12px;
}

.dropdown-menu {
	border-radius: 0;
	box-shadow: none;
	margin-top: 5px;
}

.dropdown-menu::before {
	content: "";
	height: 0px;
	width: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent rgba(36, 37, 39, 0) #FFF;
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 10;
}

.header-right > ul {
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 5px
}

.header-right > ul li {
	display: inline;
}

.contents {
	padding-right: 0
}

.header-right {padding: 5px 48px 5px 10px}

.grid {
	max-width: 1305px;
	margin:auto;
}

.header {
	background: #21303F;
	color:#fff;
	padding: 2px;
    position:fixed;
    top:0;
    left:0;
    right:0;
	height: 55px;
    z-index:60;
	margin-bottom: 25px;
}

.report-filter {
    border-bottom: 1px dotted rgb(186, 186, 186);
    margin-bottom: 16px;
    background: transparent linear-gradient(to right,#fff 0%, rgb(237, 237, 237) 40%, rgb(255, 255, 255) 88%) repeat scroll 0% 0%;
    padding-left: 4px;
    padding-top: 10px;
}

.report-filter label {
    font-size:12px
}
.report-filter .report-print-btn {
    margin-left:20px
}

.report-filter h3 {
    font-size: 18px;
    font-weight:600;
margin-bottom: 7px;
}

.report-filter .date-picker {
    width:95px;
    background:rgb(219, 249, 220) 
}

.table-bordered {
    font-size:13px
}

.report-filter .report-desc {
    font-size: 13px;
color: rgb(144, 144, 144);
}
.single_form {
 max-width: 500px;
padding: 25px;
line-height: 1.6;
margin-left: 25px;
border-radius: 0;
box-shadow: 0px 0px 5px #DEDBDB;
}

.single_form textarea {
	height: 65px
}
.chosen-container {
	display: table;
}

.single_form h2 {
	margin-bottom: 40px;
	font-size: 25px;
}
 /*menu*/

 .mini-submenu {
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}


.sidebar li a {
display: block;
margin-left: 7px;
float: left;
color: #65829B
}

.sidebar li {
	position: relative;
	cursor: pointer;
}
.sidebar li > span {
	position: absolute;
right: 15px;
top: 14px;
color: #565656;
}
.sidebar li i {
	float: left;
}

.sidebar li:after {
	content: " ";
	display: block;
	clear: both;
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar {
	max-width: 250px
}

.sidebar .dropdown_menu {
	display: block;
	position: relative;
	height: 0;
	transition: all 0.6s;
	display: none;
	clear: both;
	border-top: 1px solid #DBDBDB;
	padding: 0px;
background: #F6F6F6;
}
.sidebar .list-group-item {
	padding: 0;
}

.list-group  li a {
  padding: 10px;
}

.list-group-item > ul {
  font-size: 13px;
}

.list-group-item > a > i {
	float: left;
margin-right: 12px;
color: #4D4D4D;
margin-top: 3px;
}

.list-group-item.active {
  padding: 8px 15px
}
.sidebar .dropdown_menu li {
	border-bottom: 1px solid #E7E7E7;
	display: block;
}
.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown_menu li a {float: none }



.dataTable {
  border: 1px solid #ccc;
  font-size: 13px;
}

.dataTable tr > th {
  background: #E6E6E6
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
  border: none;
  background: #34495e;
  height: auto;
  padding: 5px 10px;
  color: #fff !important;
}


.footer {
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  font-size: 13px
}


div.DTTT_container {
    position: relative;
    float: none;
    margin-bottom: 1em;
    margin: 20px auto;
    display: table;
}

.DTTT_container a.DTTT_button {
    border:none;
    padding: 6px;
    box-shadow: none;
    background: #8e44ad;
    color:#fff !important;
    font-size: 12px;
    border-radius: 0
}

.DTTT_container a.DTTT_button:hover {
	padding:6px;
	border: none;
	box-shadow: none;
	background: #743090;
}

td .action_btn {
	background: none;
	border:none;
	font-size: 14px
}

td .edit_btn {
	color:green;
}

td .delete_btn {
	color:red;
}

.dataTables_processing {
	font-weight: bold;
	z-index:55;
	margin-top:15px;
	padding:5px;	
}


/** POS */

.pos_box {
  border: 1px solid #ccc;
}

.pos_box .pos_b {
  padding: 10px;
}

.pos_box .pos_title {
	padding: 8px;
	display: block;
	margin-bottom: 0px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.pos_title .thechosen,.pos_title .chosen-container {
	position: absolute ;
	right: 5px;
	top:5px;
}

.pos_title .chosen-single {
	background: #27ae60 !important;
	color:#fff;
	box-shadow: none;
	border: none;
	border-radius: 0
}

.pos_biller {
	border-right: 1px solid #ccc;
	padding-top: 15px;
	position: relative;
}

.price-field {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size:13px;
  width: auto;
  min-width: 5px;
  display: table;
  width: 60px
}

.pos_biller table {
	width: 100%;
	min-height: 290px;
	display: block;
	background: #F3F3F3;
	max-height: 290px;
	overflow: auto;
	border:1px solid #ccc;
	border-collapse: collapse;
}

.pos_biller table tr:first-child > th {
	background: #16a085;
	color: #fff;
	font-weight: normal;
	padding: 3px;
	text-align: center;
}

.pos_biller .form-group > .input-group {
	float: left;
	box-sizing:padding-box;
}

.pos_biller .form-group > .customerg {
	width: 62% !important;
}

.pos_biller .customer-btn {
	padding: 3px 11px;
font-size: 12px;
margin-left: -8px;
margin-right: -8px;
margin-top: -4px;
margin-bottom: -5px;
background: none
}

.pos_biller #customer {
	font-size: 12px;
    border-right:none
}

.pos_biller .input-group-addon {
	padding: 3px 12px;
	border-radius: 0
}

.pos_biller .form-group > .waiterg {
	width: 37% !important;
}

.pos_biller .chosen-container-single .chosen-single {
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: #D9C3E1 none repeat scroll 0% 0%;
border: 1px solid #863CBA
}

.waiterg > .chosen-container {
	float: right;
    max-width:110px;
}


.pos_biller .form-group:after {
	content: " ";
	height: 1px;
	display: block;
	clear: both;
}
.pos_biller .summary {
	background: #E4E4E4;
	padding: 6px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.pos_biller .summary input {
	background: none;
	border: none;
	text-align: right;
	font-weight: bold;
}

.pos_biller table td {
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 8px;
	font-size: 12.5px

}
.pos_biller table .item_col {
	width:40%;
}

.pos_biller table .qty_col {
	width:18%;
	max-width: 47px;
}

.pos_biller table .total_col {
	width:23%;
}

.pos_biller table .price_col {
	width:18%;
}

.pos_biller table .action_col {
	width:10%;
}

.actions ul {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.actions ul li {
  display: inline-block;
  width: 24%;
  text-align: center
}

.actions ul li a {
  width: 100%;
  background: #ccc;
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #fff
}

.actions .pay_btn {
	background: #2ecc71
}

.actions .suspend_btn {
	background: #2980b9
}


.actions .cancel_btn {
	background: #e74c3c
}

.actions .print_btn {
	background: #34495e
}

.actions .update_btn {
	background: #5355CE
}

.pos_products {
	padding: 0
}

.bill_item .fa-globe {
	margin-left: -23px;
position: absolute;
font-size: 13px;
color: rgb(13, 23, 17);
}

.bill_open_btn:disabled {
  color: #ccc;
}
.prod_filter {
  background: #2980b9;
  color: #fff;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  padding-top: 7px;
  padding-bottom: 3px
}

.prod_filter ul {
  list-style: none;
  padding: 0;
  display:table;
  margin: 0 auto;
}

.prod_filter ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  position: relative;
}

.prod_filter ul li a {
  color: #fff;
  background: #34495e;
  text-decoration: none;
  padding: 5px 8px;
}

.prod_filter ul li .chosen-single {
  background: #34495e;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  font-size:13px;
  border:none;
}


.prod_filter ul li.filter {
	top:-7px;
}

.product_lists {
	max-height:438px;
	overflow: auto;
	border-top: 1px solid #E3E3E3;
}

.product_lists ul {
	background: #F5F5F5;
	display:none;
	padding: 10px;
	list-style: none;
	margin: 0;
	position: relative;
	overflow-x:hidden;

}

.orders-list {
    background: #F5F5F5;
	padding: 10px;
	list-style: none;
	margin: 0;
	position: relative;
	overflow-x:hidden;
}

    .orders-list li b {
        display: table;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: auto;
        font-size: 18px;
        color: #1d3812;
        border: 1px solid #ff8746;
        margin-bottom:5px;
        padding: 2px 0;
        box-sizing: border-box;
        background: #ffdada;
    }

    .orders-list li i {
        font-size:12px;
        text-transform:capitalize
    }
.product_lists ul li,.orders-list li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	width: 23%;
	box-sizing:padding-box;
	background: #fff;
	cursor: pointer;
	font-size:13px;
	text-align: center;
	padding: 20px 8px;
	transition:all .2s;
	font-weight: 600;
	height: 90px;
	border:1px solid #ccc;
	overflow: hidden;
}

.product_lists ul li:hover,.orders-list li:hover {
	color:red;
	border-color: red;
}
.product_lists ul li i {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
	color:#ccc;
}
.product_lists .progress {
	max-width: 60%;
margin: 25px auto;
height: 5px;
display: none;
top: 225%;
left: 0px;
position: absolute;
overflow:visible;
right: 0px;
background-color: #EDEDED;
}

.product_lists .progress:after {
	content: "Loading...";
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-top: -30px;
	display: block;

}

.product_lists ul.shown {
	display: block;
}

#purchase_table .qty_box {
	max-width: 45px;
	text-align: center;
}

#purchase_table .delete_btn {
	color:#EC4545;
	background: none;
	border: none;
	font-size: 14px;
}

#purchase_table .row_total {
	background: none;
	border: none;
	max-width: 100px;
	text-align: center;
}

.input-group-addon:first-child {
	border-radius: 0;
	font-size:13px;
}

.input-group .form-control {
	height: 28px;
	border-radius: 0;
	box-shadow: none
}

.input-group {
	margin-bottom: 10px;
}

.suspendedbills_btn {
	float: right;
	position: relative;
	background: #8e44ad;
color: #fff;
border: #36054B;
padding: 3px 7px;
}

.pos-search-btn {
	float: right;
	margin-right: 0px;
	border: medium none;
	padding: 3px 10px;
	text-align: center;
	background: rgb(102, 73, 120) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	border-right: 1px solid #592781;
	border-width: medium 1px medium medium;
	border-style: none solid none none;
	border-color: -moz-use-text-color rgb(89, 39, 129) -moz-use-text-color -moz-use-text-color;
	border-image: none;
}

.pos-search-field {
	float: right;
border: 1px solid;
height: 26px;
padding-left: 10px;
display: none
}

.suspendedbills_btn > .arrow {
	  content: "";
height: 0px;
width: 0px;
border-width: 8px;
border-style: solid;
border-color: #8E44AD transparent rgba(36, 37, 39, 0);
position: absolute;
top: 100%;
margin-top: -2px;
right: 20px;
z-index: 102;
display: none;
}

#suspended_bills_list {
    position: absolute;
	z-index: 100;
	background: #Fff;
	box-shadow: 0px 2px 3px #6F6F6F;
	padding: 20px;
	margin-left: 0px;
	max-height: 450px;
	overflow: auto;
	top: 100%;
	margin-top: -3px;
	list-style: outside none none;
	right: 7px;
	display: none;
	border:1px solid #8e44ad;
	width: 310px;
}

#suspended_bills_list:before {
	content: "";
height: 0px;
width: 0px;
border-width: 5px;
border-style: solid;
border-color: transparent rgba(36, 37, 39, 0) #FFF;
position: absolute;
top: -10px;
left: 20px;
z-index: 10;
}

#suspended_bills_list:before 
{
  content:"Suspended Bills List";
  position: relative;
  display:block;
  width: 100%;
  margin-bottom: 15px;
  padding: 4px;
  font-size: 11px;
  text-align: center;
  left: 0px;
  font-weight: bold;
  color: #ccc;
  text-transform: uppercase;
  border-radius: 0;
}
#suspended_bills_list li {
	margin-bottom: 2px;
border-bottom: 1px solid #EDEDED;
padding-bottom: 10px

}


#suspended_bills_list .bill_delete_btn,
#suspended_bills_list .bill_open_btn,
#suspended_bills_list .bill_share_btn
 {
	background: none;
	border: none;
	margin-left: 0px;
	float: right;
	
}

#suspended_bills_list .bill_share_btn
{
	font-size: 12px;
}
#suspended_bills_list .bill_delete_btn:first-child {
	margin-left: 8px;
}


#suspended_bills_list li > ul {
  padding: 0;
  margin-left: 20px;;
  text-align: left;
  list-style: none;
  display: none;
  margin-top: 10px;
}

#suspended_bills_list li > ul > li {
	padding: 6px 3px;
	border-bottom: 1px solid #E9E9E9;

}

#suspended_bills_list li > a > span {
  color: #CE4D1B;
  text-decoration: none;
}

.pay_box {
	position: absolute;
background: #FFF none repeat scroll 0% 0%;
border: 1px solid #CCC;
z-index: 100;
bottom: 55px;
box-shadow: 0 0 12px #A1A1A1;
display: table;
  width: auto;
  left: 80px;
  display: none;
  color:#565656;
  	max-width: 230px;
}

.pay_box label {
  display: block;
  font-size: 13px;
  font-size: 13px;
  font-weight: normal;
}

.pay_box > div {
	padding: 20px;
}

.pay_box > p {
	background: #34495e;
	padding: 6px;
	margin-bottom: 2px;
	color: #fff;
	position: relative;
}

.pay_box > p > span {
	position: absolute;
right: 10px;
color: #f00;
cursor: pointer
}

.pay_box #split-pay-btn {
	color: rgb(0, 0, 0);
	margin: 0px;
	width: auto;
	height: auto;
	padding: 5px 8px;
}

.pay_box .split-pay-box {
	position: absolute;
	background: #fff;
	z-index: 20;
	bottom: 0;
	top:30px;
}

.split-pay-box .total-split-amount {
	display: inline-block;
	width: 70%;
	margin-top: 11px;
	border: medium none;
	font-weight: bold;
}

.split-pay-box label {
	font-weight:bold;
}
.split-pay-box .total-label {
	display: inline-block;
	width: 29%;
	font-weight: bold;
}


.pay_box #split-pay-btn:hover {
	background: rgb(215, 216, 213)
}


.pay_box .input-group-addon {
	padding: 0;
}

.oalert {
  position: fixed;
  padding: 20px;
  text-align: center;
  top:40%;
  left: 0;
  right: 0;
  display: block;
  z-index: 55555555;
  background:#c0392b;
  color: #fff;
}

.blurred {
  background: rgba(255,255,255,.85);
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  content: " ";
  bottom: 0;
  z-index: 200
}

.oalert .inner_alert {
	max-width: 80%;
	margin:auto;
}

.oalert button {
	padding: 3px 25px;
	border: none;
	color: #000;
}

.ualert {
	display: block;
position: fixed !important;
z-index: 8000;
top: 30%;
left: 40%;
right: 40%;
text-align: center;
background: #E74C3C none repeat scroll 0% 0%;
box-shadow:0px 0px 15px #757575;
padding: 15px 25px;
}

.ualert > .fa {
	font-size: 25px;
float: left;
text-align: center;
display: block;
width: 100%;
margin-bottom: 12px;
}

.ualert .ok-btn {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
border: none;
color: #2D2D2D;
padding: 2px 26px;
cursor: pointer;
display: block;
margin: 15px auto 0px;
font-weight: bold;
font-size: 12px;
box-shadow: 0px 0px 10px #E0E0E0 inset;
}
.oalert .inner_alert .fa {
	font-size: 46px
}
.pay_box input {
	width: 100%;
	text-align: right;
	padding: 3px 6px;
	font-weight: bold;
	border: 1px solid #C8C8C8;
	height: 25px
}

.pay_box .text-left {
	text-align: left;
}

.pay_box button {
	width: 49%;
	height: 30px;
	margin-top: 15px;
	color: #FFF;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.pay_box button.pay {
	background: #235587 !important;
}

.pay_box button.pay_print {
	background: #2980b9;
}

.search_results {
	position: absolute;
background: rgb(255, 255, 255) none repeat scroll 0% 0%;
padding: 15px;
top: 100%;
width: 79.2%;
margin-left: 2px;
z-index: 20;
max-height: 300px;
overflow: auto;
box-shadow: 0px 0px 7px #9B9B9B;
}

.search_results ._prod-qty {
	width: 40px;
	height: 20px;
	position: absolute;
	right: 40px;
	border: 1px solid rgb(182, 182, 182);
	font-size: 12px;
	display: none;
}

.search_results li:hover ._prod-qty{
	display: inline-block;
}

.search_close_btn {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: red;
	position: absolute;
	right: 10px;
	z-index: 10;
	font-size: 16px;
}

.search_results ul {
	list-style: none;
	margin:0;
	padding: 0
}

.search_results ul li {
	margin-bottom: 10px;
	cursor: pointer;
    font-size:13px;
}

.search_results ul li > span {
  color: #b0b0b0;
  margin-left: 6px;
  font-size: 12px;
}


.search_results ul li:hover {
	color: #f00
}


.customer-list-wrapper {
  position: absolute;
  left: 36%;
  right: 0;
  top:100%;
  display:none;
  padding: 0px;
  border:1px solid #ccc;
  background: #fff;
  border-top:none;
  z-index: 5;
  
}

.customer-list-wrapper.open {
    display:block
}

.customer-list-wrapper ul {
  list-style: none;
  padding: 0;
  margin:0
}

.customer-list-wrapper ul li i.fa {
    font-size: 12px;
    color: #bababa;
    margin-right: 3px;
}
.customer-list-wrapper ul li {
  font-size: 12px;
  font-weight:bold;
  margin-bottom: 0px;
}



.customer-list-wrapper ul li a {
  display: block;
    padding: 3px 6px;
    text-decoration:none;
    border-bottom: 1px solid rgb(234, 234, 234);
    background: rgb(245, 245, 245);
    color: rgb(87, 85, 85);
}

.customer-list-wrapper ul li a:hover {
    color:#000
}



.inline_pay_box label {
  display: block
}


.inline_pay_box form {
  padding: 14px
}

.inline_pay_box span {
	display: block;
	display: block;
background: #F2EFFF none repeat scroll 0% 0%;
padding: 4px;
margin-top: -10px;
}

.inline_pay_box span:last-of-type {
  border-bottom: 1px solid #E3E3E3
}

.inline_pay_box input[type='submit']{
	display: block;
margin-top: 13px;
margin-left: auto;
margin-right: auto;
padding: 2px 17px;
border: none;
background: #27ae60;
color: #fff;
}

.inline_pay_box form {
	background-color: #F6F6F6
}


#table tr {
	position: relative;
}
.inline_bill {
	position: absolute !important;
	right: 0;
	z-index: 555;
	background: #fff;
	border: 1px solid #337EDE;
	box-shadow: 0 0 7px 
}

.inline_bill > table {
	cursor: crosshair
}

.inline_bill .print_btn {
	margin: 10px auto;
display: table;
background: #2980b9;
border: none;
padding: 3px 10px;
color: #fff;
text-transform: uppercase;
font-size: 11px;
font-weight: bold;
}

.inline_bill p {
	padding: 9px;
color: #9F9F9F;
text-transform: uppercase;
font-size: 11px;
position: relative;
font-weight: bold;
border-bottom: 1px solid #EAEAEA;
}

.inline_bill p i {
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: #f00;
	font-size: 13px;
	padding: 4px;
	top: 6px
}

p.page_info {
	color:#959595;
	margin-top: -3px;
}

.filter_btn {
	background: #d35400;
	border: none;
	color: #fff;
	padding: 3px 20px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}

/** Bill **/

.bill_print {
    max-width: 600px;
    margin: auto;
    width:100%;
    display: none;
    position: relative;
}

.bill_print tr {
  border-bottom: 1px solid #000;
}

.bill_print tr:last-child {
  border:none
}
        .bill_print table {
            width: 100%;
        }

        .bill_print table thead {
            border-bottom: 2px solid #000;
            font-size: 10px;
        }

        .bill_print table td,.bill_print table th {
            text-align: center;
            padding: 2px;
        }

        .bill_print table td {
            font-size: 11px
        }

        .bill_print.paid_bill {
        	background: url("../images/paid_bg.png") no-repeat;
        	background-size: contain;
        	background-position: bottom;
        }

        .bill_print .bill_summary {
            text-align: right;
            margin-top: 2px;
            font-size: 11px;
            font-weight: bold;
            padding-top: 6px;
            padding-bottom: 10px;
            border-top: 2px solid #000;
            padding-right: 8px;
        }

        .bill_print .bill_summary p {
            margin-bottom: 3px
        }
        .bill_print .bill_summary p.text-left {
            font-weight: normal;
            font-size:11px;
        }
        .bill_print .logo {
            padding: 0px;
            max-width: 100%;
            text-align: center;
            margin-bottom: 2px
        }

        .bill_print .bill_contacts p {
          margin: 0;
          color: #000;
          font-size:11px;
        }

        .bill_print .bill_contacts p i {
            margin-right: 3px;
            font-size: 11px
        }

        .bill_print .bill_contacts {
          padding: 2px 0;
          font-size: 11px;
		margin-bottom: 2px;
        }

        .bill_print .paid_bg {
        	position: absolute;
			max-width: 100%;
			bottom: 0;
			z-index: 5;
        }

        .bill_print .the_content {
        	position: relative;
        	z-index:10;
        }
.bill_print .the_content p {
	margin-bottom: 1px !important;
}

.bill_print .bill-header-table {
	margin-bottom: 0px;
	border: 2px solid #000;
	position: relative;
}


        .bill_print .bill_pay_info {
        	padding-top: 5px;
			display: table;
			border-top: 1px solid gray;
			float: right;
			font-weight: normal;
			font-size: 13px
        }

.advancedBox {
	border: 1px solid #C8C8C8;
padding: 15px;
margin-left: -8px;
margin-right: -8px;
margin-bottom: 10px;
position: absolute;
right: -100%;
background: #fff;
box-shadow: 0 0 8px #ccc;
display: none;
border-top: 3px solid #3DB5E4
}

.more_options_btn,.more_options_btn:active {
	position: absolute;
	right: 23px;
	top: 42px;
	color: #33B021

}

.bill_transfer_btn {
	position:absolute;
	left: 24px;
	top: 42px;
        border: 1px solid rgb(188, 210, 255);
    padding: 0px 5px;
    background: rgb(215, 240, 255) none repeat scroll 0% 0%;
    color: rgb(32, 32, 32);
}

.room_transfer_box {
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff;
    box-shadow: 0 0 8px #2F2F2F;
    text-align: left;
    max-width: 215px;
    border-top: 3px solid rgba(18, 225, 21, 0.91);
}



.room_transfer_box input {
	text-align: left;
}

.room_transfer_box button {
 	background: #2DD565;
padding: 4px 10px !important;
width: auto;
font-size:11px;
height: auto;
margin-top:3px;
display:inline-block;
}

.room_transfer_box .check_room_btn {
    background:#2980b9;
}


.room_transfer_box .guest_in_room_label {
    display:block;
    visibility:hidden;
    font-size:12px;
    margin:0 2px 0 0;
    padding:0;
    transition: visibility .3s;
}

.custom_prod_btn {
	color: #834122;
margin-bottom: 6px;
float: right;
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
background: #FFCAD6;
border: 1px solid #D27979;
padding: 1px 8px;
}
.custom_prod_btn:active {
	background-color: #ECBEC8 
}

.pos_biller .new_prod, .header-right .new_prod {
    position: absolute;
    background: #fff;
    border: 1px solid gray;
    display: none;
    box-shadow: 0 0 6px #666;
    padding: 15px;
    right: 15px;
    z-index: 30;
}

.new_prod input[type="text"]{
  border: 1px solid #ccc;
  padding-left:5px;
  display: block;
}

.new_prod input[type="submit"]{
 color: #FFF;
background: #33AE69;
border: 1px solid #478630;
margin-top: 10px;
width: 100%;
cursor: pointer;
}

.new_prod label{
	display: block;
 font-weight: normal;
 margin-right: 6px
}

.new_prod_close_btn {
	position: absolute;
right: 13px;
top: 7px;
padding: 2px 5px;
font-size: 12px;
background: none;
border: none;
color: red;
}

.theme-switch-wrapper {
	padding:0;
	overflow:hidden;
	display: inline;
	display: inline-table;
	position: relative;
	border: 1px solid rgb(12, 22, 51);
}

.theme-switch-wrapper select {
	width: 125%;
	background: #4c5368;
	border: none;
	padding: 2.5px;
	font-size: 12px;
}

.theme-switch-wrapper i.fa {
	position: absolute;
	right: 6%;
	color: #000;
	font-size: 13px;
	top: 5px;
}


.logo {
  float: left;
  width: 15%;
  min-width: 52px;
}

.bills-table td {
  font-size: 13px;
  padding: 6px !important;
}

.bills-table td:empty {
  height: 0px !important;;
  padding: 0;
  border:none;
}

.bills-table .no-cell {
	height: 0px !important;
padding: 0 !important;
border: none;
}

.bills-table td .fa {
	font-size: 16px;
}

.bills-table td .fa-check-circle {
	color:rgb(21, 171, 21);
}

.bills-table .cancel-pay-btn {
	font-size: 16px;
	border: medium none;
	padding: 0px;
	background: none;
	width: 100%;
} 

.bills-table td .fa-question-circle {
	color:rgb(249, 90, 72);
}

.bill_contacts {
  float:left;
  width: 80%;
  margin-left: 5px
}

.bill_contacts p {
  text-align: left
}

/* Full Screen */
.fullscreen .sidebar {
  display: none;
}

.fullscreen .contents {
  width: 95%;
}

.fullscreen .pos_biller {
  width: 40%;
}

.fullscreen .pos_products {
  width:60%
}

.fullscreen .product_lists li.prod {
  width: 15.2%;
}

/** NUMERIC BOX **/

.num-field {
  overflow: hidden;
  height: 21px;
  padding: 0px;
  display: block;
  position: relative;
  background: #fff;
  border: 1px solid;
}

.num-field:hover {
	border-color:#000;
box-shadow: 0px 0px 1px rgb(134, 182, 255);
}

.num-field input {
border: none;
width: 25px;
font-size: 12px;
margin-right: 0px;
background: none;
}

.num-field button {
  border: none;
  position: absolute;
  right: -1px;
  height: 9.5px;
  padding: 0;
  width: 18px;
  overflow: hidden;
  cursor: pointer;
  border-left:1px solid;
  border-right:1px solid;
  box-sizing: border-box;
}

.num-field button:hover {
	background: rgb(151, 182, 191) ;
}


.num-field .up-btn {
  top: 0;
  height: 10.5px;
  border-bottom: 1px solid rgb(170, 170, 170);
  background: linear-gradient(to bottom,#fff,#ccc)
}

.num-field .down-btn {
  bottom: 0px;
  background: linear-gradient(to bottom,#fff,#ccc);
  height: 8.5px;
  border-top: 1px solid rgb(170, 170, 170);
  padding-top: 5px;
}


.num-field .fa {
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	font-size:10px
}

.num-field .down-btn .fa {
	bottom: 0;
	top:-2px;
}

.num-field .up-btn .fa {
	bottom: 0;
	top:-2px;
}

.order-search-results {
    font-size: 14px !important;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px #282828;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    max-height: 100px;
    background: #fff;
    border: 1px solid #bababa;
}


.order-search-results li {
  padding: 8px 12px;
  cursor:pointer;
}

.order-search-results li:hover {
    color:#ff1f00
}