
namespace ORG;

class Settings 
{
      public static $RESTONAME = "{-RESTONAME-}";
      public static $CURRENCY = "{-CURRENCY-}";
      public static $TAXRATE = "{-TAXRATE-}";
      public static $PHONES = "{-PHONES-}";
      public static $EMAIL = "{-EMAIL-}";
      public static $WEBSITE = "{-WEBSITE-}";
      public static $LOGO = "{-LOGO-}";
}
